/*

 模块：红包(主题01)
 模块类型：ud(ui design)
 精度：*
 分级：*
 适配：*
 兼容：IE9+
 版本：v0.0.1

 用法：
 <i class="ud-loading" theme="aa"></i>

 */
.ud-loading[theme="aa"] { display : inline-block; color : #fff; width : 18px; height : 18px; position : relative;
  background       : radial-gradient(circle at 22% 22%, rgba(255, 68, 68, 0.8) 20%, transparent 0%), radial-gradient(circle at 78% 22%, rgba(255, 187, 50, 0.85) 20%, transparent 0%), radial-gradient(circle at 22% 78%, rgba(153, 204, 0, 0.8) 20%, transparent 0%), radial-gradient(circle at 78% 78%, rgba(51, 181, 229, 0.8) 20%, transparent 0%) no-repeat;
  animation : load-aa 1s linear infinite; }

@keyframes load-aa {
  0% { background : radial-gradient(circle at 22% 22%, rgba(255, 68, 68, 0.8) 15%, transparent 0%), radial-gradient(circle at 78% 22%, rgba(255, 187, 50, 0.85) 15%, transparent 0%), radial-gradient(circle at 22% 78%, rgba(153, 204, 0, 0.8) 15%, transparent 0%), radial-gradient(circle at 78% 78%, rgba(51, 181, 229, 0.8) 15%, transparent 0%); transform : rotate(0deg) }
  10% { background : radial-gradient(circle at 25% 25%, rgba(255, 68, 68, 0.8) 16%, transparent 0%), radial-gradient(circle at 75% 25%, rgba(255, 187, 50, 0.85) 16%, transparent 0%), radial-gradient(circle at 25% 75%, rgba(153, 204, 0, 0.8) 16%, transparent 0%), radial-gradient(circle at 75% 75%, rgba(51, 181, 229, 0.8) 16%, transparent 0%) }
  20% { background : radial-gradient(circle at 28% 28%, rgba(255, 68, 68, 0.8) 17%, transparent 0%), radial-gradient(circle at 72% 28%, rgba(255, 187, 50, 0.85) 17%, transparent 0%), radial-gradient(circle at 28% 72%, rgba(153, 204, 0, 0.8) 17%, transparent 0%), radial-gradient(circle at 72% 72%, rgba(51, 181, 229, 0.8) 17%, transparent 0%) }
  30% { background : radial-gradient(circle at 31% 31%, rgba(255, 68, 68, 0.8) 18%, transparent 0%), radial-gradient(circle at 69% 31%, rgba(255, 187, 50, 0.85) 18%, transparent 0%), radial-gradient(circle at 31% 69%, rgba(153, 204, 0, 0.8) 18%, transparent 0%), radial-gradient(circle at 69% 69%, rgba(51, 181, 229, 0.8) 18%, transparent 0%) }
  40% { background : radial-gradient(circle at 32% 32%, rgba(255, 68, 68, 0.8) 18%, transparent 0%), radial-gradient(circle at 68% 32%, rgba(255, 187, 50, 0.85) 18%, transparent 0%), radial-gradient(circle at 32% 68%, rgba(153, 204, 0, 0.8) 18%, transparent 0%), radial-gradient(circle at 68% 68%, rgba(51, 181, 229, 0.8) 18%, transparent 0%) }
  50% { background : radial-gradient(circle at 33% 33%, rgba(255, 68, 68, 0.8) 18%, transparent 0%), radial-gradient(circle at 67% 33%, rgba(255, 187, 50, 0.85) 18%, transparent 0%), radial-gradient(circle at 33% 67%, rgba(153, 204, 0, 0.8) 18%, transparent 0%), radial-gradient(circle at 67% 67%, rgba(51, 181, 229, 0.8) 18%, transparent 0%) }
  60% { background : radial-gradient(circle at 32% 32%, rgba(255, 68, 68, 0.8) 18%, transparent 0%), radial-gradient(circle at 68% 32%, rgba(255, 187, 50, 0.85) 18%, transparent 0%), radial-gradient(circle at 32% 68%, rgba(153, 204, 0, 0.8) 18%, transparent 0%), radial-gradient(circle at 68% 68%, rgba(51, 181, 229, 0.8) 18%, transparent 0%) }
  70% { background : radial-gradient(circle at 31% 31%, rgba(255, 68, 68, 0.8) 18%, transparent 0%), radial-gradient(circle at 69% 31%, rgba(255, 187, 50, 0.85) 18%, transparent 0%), radial-gradient(circle at 31% 69%, rgba(153, 204, 0, 0.8) 18%, transparent 0%), radial-gradient(circle at 69% 69%, rgba(51, 181, 229, 0.8) 18%, transparent 0%) }
  80% { background : radial-gradient(circle at 28% 28%, rgba(255, 68, 68, 0.8) 17%, transparent 0%), radial-gradient(circle at 72% 28%, rgba(255, 187, 50, 0.85) 17%, transparent 0%), radial-gradient(circle at 28% 72%, rgba(153, 204, 0, 0.8) 17%, transparent 0%), radial-gradient(circle at 72% 72%, rgba(51, 181, 229, 0.8) 17%, transparent 0%) }
  90% { background : radial-gradient(circle at 25% 25%, rgba(255, 68, 68, 0.8) 16%, transparent 0%), radial-gradient(circle at 75% 25%, rgba(255, 187, 50, 0.85) 16%, transparent 0%), radial-gradient(circle at 25% 75%, rgba(153, 204, 0, 0.8) 16%, transparent 0%), radial-gradient(circle at 75% 75%, rgba(51, 181, 229, 0.8) 16%, transparent 0%) }
  100% { background : radial-gradient(circle at 22% 22%, rgba(255, 68, 68, 0.8) 15%, transparent 0%), radial-gradient(circle at 78% 22%, rgba(255, 187, 50, 0.85) 15%, transparent 0%), radial-gradient(circle at 22% 78%, rgba(153, 204, 0, 0.8) 15%, transparent 0%), radial-gradient(circle at 78% 78%, rgba(51, 181, 229, 0.8) 15%, transparent 0%); transform : rotate(360deg) }
}