/*

 模块：红包(主题02)
 模块类型：ud(ui design)
 精度：*
 分级：*
 适配：*
 兼容：IE9+
 版本：v0.0.1

 用法：
 <i class="ud-redbag" theme="02"></i>

 */
.ud-redbag[theme="02"] { display : inline-block; background : #ff2f3d; width : 80px; height : 100px; border-radius : 8%; position : relative; overflow : hidden; }
.ud-redbag[theme="02"]:before,
.ud-redbag[theme="02"]:after { content : " "; display : inline-block; position : absolute; }
.ud-redbag[theme="02"]:before { width : 110%; height : 40%; left : -5%; background : #ff444b; border-radius : 0 0 100% 100%; box-shadow : 0 2px 3px rgba(0, 0, 0, .2) }
.ud-redbag[theme="02"]:after { content : attr(data-text); width : 30px; height : 30px; text-align : center; line-height : 30px; background : #ffdb70; color : #ff2f3d; border-radius : 50%; left : 50%; top : 25%; margin-left : -15px; font-size : 16px; box-shadow : 0 2px 3px rgba(0, 0, 0, .1) }
