/*

 模块：红包(主题03)
 模块类型：ud(ui design)
 精度：*
 分级：*
 适配：*
 兼容：IE9+
 版本：v0.0.1

 用法：
 <i class="ud-redbag" theme="03"></i>

 */
.ud-redbag[theme="03"] { display : inline-block; background : linear-gradient(0deg, #f04a49 0%, #fc706a 100%); width : 80px; height : 100px; border-radius : 8%; position : relative; overflow : hidden; }
.ud-redbag[theme="03"]:before,
.ud-redbag[theme="03"]:after { content : " "; display : inline-block; position : absolute; }
.ud-redbag[theme="03"]:before { width : 110%; height : 50%; left : -5%;background : linear-gradient(20deg, rgba(0, 0, 0, 0) 40%, #fc706a 41%), linear-gradient(-20deg, rgba(0, 0, 0, 0) 40%, #fc706a 41%) 100%, linear-gradient(17deg, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, .1) 38%), linear-gradient(-17deg, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, .1) 38%) 100%;background-size : 50% 100%; background-repeat : no-repeat;box-shadow : inset 0 10px 12px rgba(255, 255, 255, .05)}
.ud-redbag[theme="03"]:after { content : attr(data-text); width : 30px; height : 30px; text-align : center; line-height : 30px; background : #ffdb70; color : #ff2f3d; border-radius : 50%; left : 50%; bottom : 20%; margin-left : -15px; font-size : 16px; box-shadow : 0 2px 3px rgba(0, 0, 0, .1) }