/*
 * 模块：重置-低版本兼容
 * 模块类型：mc(模块组件)
 * 精度：*
 * 分级：*
 * 适配：
 * 兼容：
 * 版本：v0.0.1
 *
 */

* { -webkit-touch-callout : none; -webkit-tap-highlight-color : rgba(0, 0, 0, 0); }

*,
:after,
:before { border : 0; box-sizing : border-box; }

html,
body {width : 100%; position : relative; }

body,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
p { margin : 0; }

button,
input,
ol,
ul { margin : 0; padding : 0; }

body { font-family : -apple-system, PingFang SC, Microsoft YaHei, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Helvetica, Hiragino Sans GB, SimSun, sans-serif; position : relative; line-height : 1.5; }

button,
input,
select,
textarea { outline : none; }

input,
button { -webkit-appearance : none; }

input:-webkit-autofill { -webkit-box-shadow : 0 0 0 1000px white inset; }

input,
button,
textarea,
select,
optgroup,
option,
label,
fieldset,
legend { font-family : inherit; font-style : inherit; font-weight : inherit; font-size : inherit; color : inherit; line-height : inherit; }

h1,
h2,
h3,
h4,
h5,
h6 { font-weight : normal; }

table { border-collapse : collapse; border-spacing : 0; }

address,
cite,
dfn,
em,
var { font-style : normal; }

a { text-decoration : none; color : inherit; display : inline-block; outline : none;}

ul,
ol { list-style : none; }

img { max-width : 100%; }

button, input[type="button"], input[type="submit"] {user-select : none;}

