@charset "UTF-8";
//主题
//基础
@import "../../kits/css/base/mc-reset@mobile-v1";
@import "../../kits/css/base/mc-base@mobile-v1";
@import "mc-pre-code@theme=default";
@import "mc-pre-code@theme=darcula";

body {
    padding   : 1rem;
    font-size : 13px;
    width     : 100%;
    margin    : 0 auto;
}

h1, h3 {
    text-align : center;
}

.btn {
    display       : inline-block;
    text-align    : center;
    width         : 100%;
    height        : 3rem;
    line-height   : 2.8rem;
    border        : 1px solid rgba(0, 0, 0, .1);
    margin        : 1rem 0 .5rem;
    border-radius : 3px;
    color         : #fff;
}

hr {
    width         : 100%;
    border-bottom : 1px solid #aaa;
    margin        : 2rem 0;
}

.btn-search {
    background : #2ea8e5;
}

.btn-hash {
    background : #3cbd70;
}

p {
    line-height : 1.5;
    margin      : .5em 0;
}

.two-col {
    padding : .2% 0;

    & > pre {
        width : 49.5%;
    }

    & > pre:first-child {
        float : left;
    }

    & > pre:last-child {
        float : right;
    }

    &:after {
        content : "";
        display : block;
        width   : 100%;
        height  : 0;
        clear   : both;
    }
}

pre {
    position      : relative;
    margin        : 0;
    padding       : 1em;
    //background    : #2b2b2b;
    border        : 1px solid rgba(0, 0, 0, .1);
    border-radius : 2px;
    //color         : #a9b7c6;
    overflow      : auto;

    pre {
        padding : 0;
    }
}
