pre[theme="default"] {
    & {
        position      : relative;
        margin        : 0;
        padding       : 0;
        background    : #fafafa;
        border        : 1px solid rgba(0, 0, 0, .05);
        border-radius : 2px;
        color         : #333;
        overflow      : hidden;
        cursor        : default;
        user-select   : text;

        &:before {
            position    : absolute;
            display     : block;
            line-height : 1;
            right       : 5px;
            top         : 5px;
            font-size   : 10px;
            font-family : 'sans-serif';
            color       : #bbb;
        }
    }

    & > .mc-precode-box {
        display  : block;
        width    : 100%;
        height   : 100%;
        overflow : auto;
        padding  : 1em;
    }

    &[lang="javascript"] {
        &:before {
            content : 'JS';
        }
    }

    &[lang="html"] {
        &:before {
            content : 'HTML';
        }

        color : #303942;
    }

    &[lang="css"] {
        &:before {
            content : 'CSS';
        }
    }

    // 单行注释
    .j-com-line {
        color : #aaa;
    }

    // 单星注释
    .j-com-more {
        color : #aaa;
    }

    // 双星注释
    .j-com-mode {
        color : #aaa;
    }

    // 注释-@param
    .j-com-param {
        font-weight : bold;
    }

    // 正则
    .j-reg {
        color : #e6bd70;
    }

    // 正则-特殊符
    .j-reg-spe {
        color : #e6bd70;
    }

    // 正则-字符串
    .j-reg-str {
        color      : #6b865b;
        background : rgba(106, 135, 89, .25);
    }

    .j-com-param {
        font-weight : bold;
    }

    // 标签名
    .j-tag {
        color : #e8bf6a;

        & > *:first-child {
            color : #e8bf6a;
        }

        & > *:last-child {
            color : #e8bf6a;
        }
    }

    // 等于号
    .j-equ {
        color : #a9b7c5;
    }

    // 运算符
    .j-ope {
        color : #6897bb;
    }

    // 字符串
    .j-str {
        color : #6b865b;
    }

    // 函数名称
    .j-fun {
        color : #fec574;
    }

    .j-key {
        color : #af8ac2;
    }

    // 属性值
    .j-val {
        color : #a5c261;
    }

    .j-sub {
        color : #af8ac2;
    }

    // 变量名
    .j-var {
        color : #a9b7c5;
    }

    // 变量名
    .j-oth {
        color : #a9b7c5;
    }

    // 事件名
    .j-event {
        color : #a9b7c5;
    }

    // 特殊符
    .j-sym {
        color : #ca783a;
    }

    // 逻辑符
    .j-logic {
        color       : #ca783a;
        font-weight : bold;
    }

    // 保留词
    .j-ret {
        color       : #ca783a;
        font-weight : bold;
    }

    // 数字
    .j-num {
        color : #99cffd
    }


    // 注释
    .h-com {
        color : #276d29;
        //font-style : italic;
    }

    // 标签
    .h-tag {
        color : #871b7e;
    }

    // 属性
    .h-key {
        color : #974510;
    }

    // 属性值
    .h-val {
        color : #1c23a3;
    }

    // 符号
    .h-sym {
        color : #a894a6;
    }


}
